<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-large-area
    title="Главная страница"
  >
    <app-about-text></app-about-text>

    <app-middle-control *ngIf="!sessionService.isCurrentUserAuthorized()">
        <button
          class="button-red-very-rounded-narrow"
          routerLink="/register"
        >Создать аккаунт</button>
        <button
          class="button-red-very-rounded-narrow"
          routerLink="/login"
        >Войти в аккаунт</button>
    </app-middle-control>
  </app-large-area>
</div>
