<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-narrow-area
    title="Восстановление пароля"
  >
    <app-plain-paragraph>
      Ваш пароль успешно изменён! Запишите его в подсознание и не стирайте оттуда.
      Вам предстоит снова войти в свой аккаунт уже с новым паролем.
    </app-plain-paragraph>
    <app-middle-control>
      <button
        class="button-red-very-rounded-narrow"
        routerLink="/login"
      >Войти в аккаунт</button>
    </app-middle-control>
  </app-narrow-area>
</div>
