<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-large-area
    title="Каталог"
  >
    <input
      type="text"
      class="m-2 border rounded-1 py-2 px-4 w-11/12"
      placeholder="Поиск по темам..."
      [(ngModel)]="term"
    />

    <p *ngIf="loading" class="text-center text-lg p-2">Loading...</p>

    <app-topic-item
      *ngFor="let item of topics | filterTopics: term"
      [topic]="item">
    </app-topic-item>

    <button *ngIf="sessionService.isCurrentUserAdmin()"
      class="rounded-pill bg-red-700 text-white fixed right-5 bottom-8 py-2 px-3"
      (click)="modalService.open()"
    >+</button>
  </app-large-area>
</div>

<app-modal-create-window
  *ngIf="modalService.isVisible()"
  title="Создать новую тему"
>
  <app-create-topic></app-create-topic>
</app-modal-create-window>
