<form [formGroup]="form" (ngSubmit)="submit()">
  <app-error-paragraph
    *ngIf="isGlobalErrorSet()"
    [errorMessage]="globalError"
  ></app-error-paragraph>

  <app-middle-control *ngIf="changingPasswordProcess">
        <span class="text-blue-500 fs-6 fw-bold">
          Выполняется изменение пароля...
        </span>
  </app-middle-control>

  <app-text-field-password
    fieldName="Текущий пароль"
    [formElement]="form.controls.oldPassword"
    [showError]="showAllErrors"
  ></app-text-field-password>

  <app-text-field-password
    fieldName="Новый пароль"
    [formElement]="form.controls.newPassword"
    [showError]="showAllErrors"
  ></app-text-field-password>

  <app-text-field-password
    fieldName="Подтвердите новый пароль"
    [formElement]="form.controls.confirmNewPassword"
    [showError]="showAllErrors"
  ></app-text-field-password>

  <br/>

  <app-middle-control>
    <button
      type="submit"
      class="button-red-rounded"
    >Изменить</button>

    <button
      type="button"
      class="button-back"
      (click)="doTransferToLastPage()"
    >Назад</button>
  </app-middle-control>

</form>
