<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-large-area-with-open-modal-button
    title="Мои формы"
  >
    <app-manage-questionnaires></app-manage-questionnaires>
  </app-large-area-with-open-modal-button>
</div>

<app-modal-create-window
  *ngIf="modalCreateWindow.isVisible()"
  title="Создать форму"
>
  <app-create-form-choose-topic></app-create-form-choose-topic>
</app-modal-create-window>

<app-modal-edit-window
  *ngIf="modalEditWindow.isVisible()"
  title="Редактировать форму"
>
  <app-edit-form></app-edit-form>
</app-modal-edit-window>

<app-modal-delete-window
  *ngIf="modalDeleteWindow.isVisible()"
  title="Удалить форму"
>
  <app-delete-form></app-delete-form>
</app-modal-delete-window>

