<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-narrow-area
    title="Восстановление пароля"
  >
    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-error-paragraph
        *ngIf="isGlobalErrorSet()"
        [errorMessage]="globalError"
      ></app-error-paragraph>

      <app-middle-control *ngIf="sendingMailProcess">
        <span class="text-blue-500 fs-6 fw-bold">
          Выполняется отправка письма на ваш Email...
        </span>
      </app-middle-control>

      <app-text-field-placeholder
        placeholder="Email"
        [formElement]="form.controls.email"
        [showError]="showAllErrors"
      ></app-text-field-placeholder>

      <app-middle-control
        [paddingTop]="3">
        <button
          type="submit"
          class="button-red-rounded"
        >Отправить письмо на почту</button>
      </app-middle-control>

      <p class="text-center fs-6 pt-3">
        <span class="text-black">Вспомнили пароль? </span>
        <a routerLink="/login" class="blue-bold-link-text">Войти</a>
      </p>

    </form>

  </app-narrow-area>
</div>
