<app-plain-paragraph>
  Добро пожаловать на наш сайт для создания анонимных опросов и анализа результатов!
</app-plain-paragraph>
<app-plain-paragraph>
  Мы предлагаем вам удобный инструмент, который позволяет создавать опросы и получать ценную информацию от пользователей.
</app-plain-paragraph>
<app-plain-paragraph>
  Создание опросов у нас простое и интуитивно понятное.
  Вы можете легко настроить свои вопросы, добавить различные типы ответов,
  а также определить, какие поля являются обязательными для заполнения.
</app-plain-paragraph>
<app-plain-paragraph>
  Создавать опросы могут только зарегистрированные пользователи.
  Однако прохождение опросов доступно всем - вы можете скопировать ссылку на опрос
  и разместить её в нужном месте, например, скинуть в чат друзей или вывесить
  на своём сайте.
</app-plain-paragraph>
<app-plain-paragraph>
  Вы сможете быстро обнаружить тренды, сравнить ответы и сделать информативные выводы на основе собранных данных.
</app-plain-paragraph>
<app-plain-paragraph>
  Неважно, нужно ли вам провести опрос для исследования рынка,
  сбора обратной связи от пользователей или просто для того, чтобы узнать их мнения –
  наша платформа готова помочь вам.
</app-plain-paragraph>
<app-plain-paragraph>
  Присоединяйтесь к нам сегодня и начните собирать ценные данные с помощью анонимных опросов!
</app-plain-paragraph>
